spring:
  application:
    name: email-verification
server:
  port: 0
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8010/eureka
  instance:
    instance-id: ${spring.application.name}:${random.value}